body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b3b3b;
    color: #fff;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header nav {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-width: 100px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
}

nav a.active {
    color: #FFD700;
    font-weight: bold;
}

nav a:hover {
    color: #FFD700;
    text-decoration: underline;
}

nav a.active {
    color: #FFD700;
}

.main-banner {
    background-color: #ffffff;
    padding: 30px;
    margin: 100px auto 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.main-banner h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #4e4e4e;
    margin-bottom: 10px;
}

.main-banner blockquote {
    font-size: 1.2rem;
    font-style: italic;
    color: #555;
    margin-top: 15px;
}

section {
    padding: 20px;
    margin: 20px 0;
}

section a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

section h2 {
    font-size: 1.75rem;
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    text-decoration: none;
}


ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
    padding: 0;
    justify-content: center;
}

ul li {
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

ul li:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

aside {
    background-color: #FFD700;
    padding: 15px;
    border-radius: 5px;
    font-style: italic;
    margin: 20px 0;
    color: #333;
    text-align: center;
}

.table-grid {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead th {
    background-color: #323232;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

tbody tr {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #fff;
}

tbody td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 0.875rem;
    position: relative;
    bottom: 0;
    width: 100%;
}



@media screen and (max-width: 600px) {
    header nav {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    header img,
    footer {
        display: none;
    }

    .main-banner h1 {
        font-size: 1.5rem;
    }

    ul li {
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 1200px) {
    .main-banner {
        max-width: 1200px;
    }
}